.row-fluid
  .span1
  .span10
    %h1 Apple Test Devices
    %table
      %tr
        %th Device Identifier (UDID)
        %th

      - @devices.each do |device|
        %tr
          %td= device.udid
          %td
            -if not device.keep 
              = link_to 'I Use This Device!', update_for_keep_path(device), :class => "btn btn-success"
            -else
              %div This device will be preserved

    %br
  .span1
